In [5]:
import numpy as np
import pandas as pd
import geopandas as gpd

### lecture des donn√©es

In [7]:
data = pd.read_csv('../Data/Train.csv', parse_dates=['datetime'])
weather = pd.read_csv('../Data/Weather_Nairobi_Daily_GFS.csv', parse_dates=['Date'])
road_segment_locs = gpd.read_file('../segments_geometry.geojson')
road_surveys = pd.read_csv('../Data/Segment_info.csv')

###  merge weather + data

In [36]:
def mergeWeatherData(weather,data):
    data['Date'] = [d.date() for d in data['datetime']]
    data['time'] = [d.time() for d in data['datetime']]
    data['Date'] = data['Date'].astype('datetime64[ns]')
    data = data.drop(['uid'],axis=1)
    data_train = pd.merge(data, weather, how='left', on='Date')
    data_train = data_train.set_index('datetime')
    return data_train

In [37]:
data_merged = mergeWeatherData(weather,data)

In [41]:
data_merged.head()

,latitude,longitude,date,time,Date,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground
datetime,,,,,,,,,,,
2018-01-01 00:25:46,-1.188850,36.931382,2018-01-01,00:25:46,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,-0.933914
2018-01-01 02:02:39,-0.662939,37.208730,2018-01-01,02:02:39,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,-0.933914
2018-01-01 02:31:49,-0.662939,37.208730,2018-01-01,02:31:49,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,-0.933914
2018-01-01 03:04:01,-1.288087,36.826583,2018-01-01,03:04:01,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,-0.933914
2018-01-01 03:58:49,-1.188850,36.931382,2018-01-01,03:58:49,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,-0.933914

In [42]:
data_merged.dtypes

latitude                                       float64
longitude                                      float64
date                                            object
time                                            object
Date                                    datetime64[ns]
precipitable_water_entire_atmosphere           float64
relative_humidity_2m_above_ground              float64
specific_humidity_2m_above_ground              float64
temperature_2m_above_ground                    float64
u_component_of_wind_10m_above_ground           float64
v_component_of_wind_10m_above_ground           float64
dtype: object

In [52]:
data_merged.shape

(6318, 11)

In [53]:
data_merged = data_merged.dropna()

### merge data_merged + road_survey

In [54]:
def getNeighbourSegment(location, segments):
    result = 0
    dists = []
    for segment in segments:
        dist = []
        for loc in segment:
            d = ((location[0] - loc[0])**2 + (location[1] - location[1])**2)**0.5
            dist.append(d)
        dists.append(min(dist))
    return np.argmin(dists)

In [55]:
segments_merged = pd.merge(road_segment_locs, road_surveys, on='segment_id', how='left')

In [56]:
segments_merged.head()

,segment_id,road_name,geometry,side,25_48,79_76,79_65,79_39,28_78_50,55_90,...,80_97_61_65_11,80_97_61_65_12,80_97_61_65_15,80_97_61_65_16,80_97_61_39_0,80_97_61_39_10,80_97_61_39_11,80_97_61_39_12,80_97_61_39_15,80_97_61_39_16
0,28_1,accra road-tertiary,"LINESTRING (36.82603 -1.28447, 36.82605 -1.284...",1,1,0,4,4,0.0,5,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,28_1,accra road-tertiary,"LINESTRING (36.82603 -1.28447, 36.82605 -1.284...",2,1,0,4,4,0.0,5,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,137_1,accra road-tertiary,"LINESTRING (36.82656 -1.28371, 36.82658 -1.283...",1,1,0,4,4,0.0,5,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,137_1,accra road-tertiary,"LINESTRING (36.82656 -1.28371, 36.82658 -1.283...",2,1,0,4,4,0.0,5,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,137_2,accra road-tertiary,"LINESTRING (36.82711 -1.28289, 36.82713 -1.282...",1,1,0,4,4,0.0,5,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0

In [69]:
segments_merged.columns[4:]

Index(['25_48', '79_76', '79_65', '79_39', '28_78_50', '55_90', '26_76',
       '92_30', '62_51', '62_51_27',
       ...
       '80_97_61_65_11', '80_97_61_65_12', '80_97_61_65_15', '80_97_61_65_16',
       '80_97_61_39_0', '80_97_61_39_10', '80_97_61_39_11', '80_97_61_39_12',
       '80_97_61_39_15', '80_97_61_39_16'],
      dtype='object', length=226)

In [98]:
def getDataTrain(data_merged,road_data):
    column_names = list(data_merged.columns) + list(road_data.columns[4:]) + ['accident'] 
    data_train = pd.DataFrame(columns = column_names)
    segments = road_segment_locs['geometry'].apply(lambda x: np.array(x)).values
    length = data_merged.shape[0]
    for i in range(length):
        print(f'{(i/length)*100}%')
        segment = getNeighbourSegment([data_merged.iloc[i]['longitude'],data_merged.iloc[i]['latitude']],segments)
        d = {}
        for column in data_merged.columns:
            d[column] = data_merged.iloc[i][column]
        for column in road_data.columns[4:]:
            d[column] = road_data.iloc[segment][column]
        d['accident'] = 1
        data_train = data_train.append(d, ignore_index=True)
    return data_train

In [99]:
train_data = getDataTrain(data_train, segments_merged)

0.0%
0.01590583744234134%
0.03181167488468268%
0.04771751232702402%
0.06362334976936536%
0.0795291872117067%
0.09543502465404805%
0.11134086209638938%
0.12724669953873072%
0.14315253698107205%
0.1590583744234134%

In [101]:
train_data

,latitude,longitude,date,time,Date,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,...,80_97_61_65_12,80_97_61_65_15,80_97_61_65_16,80_97_61_39_0,80_97_61_39_10,80_97_61_39_11,80_97_61_39_12,80_97_61_39_15,80_97_61_39_16,accident
0,-1.188850,36.931382,2018-01-01,00:25:46,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
1,-0.662939,37.208730,2018-01-01,02:02:39,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,-0.662939,37.208730,2018-01-01,02:31:49,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,-1.288087,36.826583,2018-01-01,03:04:01,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
4,-1.188850,36.931382,2018-01-01,03:58:49,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
5,-0.662939,37.208730,2018-01-01,04:04:09,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6,-1.165228,36.960008,2018-01-01,05:31:17,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
7,-1.301303,36.820903,2018-01-01,07:57:56,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
8,-1.134640,36.848220,2018-01-01,09:57:27,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
9,-1.117207,37.008278,2018-01-01,10:48:59,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
10,-1.282547,36.827234,2018-01-01,11:23:14,2018-01-01,24.1,72.700005,0.00956,15.161493,-0.012186,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1